 {% extends 'base.html' %}

 {% block content %}
 
 {% load static%}

<!-- Banner start -->
<div class="banner" id="banner">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner banner-slider-inner text-center">
            <div class="carousel-item banner-max-height active item-bg">
                <img class="d-block w-100 h-100" src="{% static 'img/ipl9.png'%}" alt="banner">
                <div class="carousel-content container banner-info-2 bi-2 text-left">
                    <h3>Tata ipl 2022</h3>
                    <h5>TATA Ipl 2022 is fifteenth season of Indian Premire League,<br> 
                        aprofessional Twenty20 cricket league established by the <br>
                        Board of control for Cricket in India.</h5>
                    <a href="{% url 'about'%}" class="btn btn-lg btn-theme">Read more</a>
                </div>
            </div>
            <div class="carousel-item banner-max-height item-bg">
                <img class="d-block w-100 h-100" src="{% static 'img/iplphoto_1.webp' %}" alt="banner">
                <div class="carousel-content container banner-info-2 bi-2 text-left">
                    <h3>One Trophy Ten Teams</h3>
                    <h5>TATA Ipl 2022 is fifteenth season of Indian Premire League,<br> 
                        aprofessional Twenty20 cricket league established by the <br>
                        Board of control for Cricket in India.</h5>
                    <a href="{% url 'about'%}" class="btn btn-lg btn-theme">Read more</a>
                </div>
            </div>
            <div class="carousel-item banner-max-height item-bg">
                <img class="d-block w-100 h-100" src="{% static 'img/ipl5.png'%}" alt="banner">
                <div class="carousel-content container banner-info-2 bi-2 text-left">
                    <h3>Let The Battle Begin</h3>
                    <h5>TATA Ipl 2022 is fifteenth season of Indian Premire League,<br> 
                        aprofessional Twenty20 cricket league established by the <br>
                        Board of control for Cricket in India.</h5>
                    <a href="{% url 'about'%}" class="btn btn-lg btn-theme">Read more</a>
                </div>
            </div>
        </div>
        
        <a class="carousel-control-prev none-580" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="slider-mover-left" aria-hidden="true">
                <i class="fa fa-angle-left"></i>
            </span>
        </a>
        <a class="carousel-control-next none-580" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="slider-mover-right" aria-hidden="true">
                <i class="fa fa-angle-right"></i>
            </span>
        </a>
    </div>
</div>
<!-- Banner end -->

<!-- Search box 2 end -->

<!-- IPL TEAM start -->
<div class="featured-car content-area-5">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>IPL <span>TEAMS</span></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <!-- Slick slider area start -->
        <div class="slick-slider-area clearfix">
            <div class="row slick-carousel" data-slick='{"slidesToShow": 3, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
                
                {% for MyTeams in ipl_teams%}
                <div class="slick-slide-item">
                    <div class="car-box-3">
                        <div class="car-thumbnail">
                            <a href="car-details.html" class="car-img">
                                
                                <div class="price-box">
                                
                                    <span>* * * *</span>
                                </div>
                                <img class="d-block w-100" src="{{MyTeams.team_icon.url}}" alt="car" style="min-height: 262px; max-height: 262px;">
                            </a>
                            {% comment %}  {% endcomment %}
                        </div>
                        <div class="detail">
                            <h1 class="title">
                                <a href="{% url 'myplayer'  %}">{{ MyTeams.team_name}}</a>
                            </h1>
                            <div class="location">
                                {% comment %} <a href="car-details.html">
                                    <i class=""></i>Champion : {{MyTeams.championship_won}}
                                </a> {% endcomment %}
                            </div>
                            <ul class="facilities-list clearfix">
                                <li>PLAYERS : {{MyTeams.players_count}}</li>
                                <li>CHAMPION : {{MyTeams.championship_won}}</li>
                                <li>TOP BATSMAN :{{MyTeams.top_batsman}}</li>
                                <li>TOP BATSMAN :{{MyTeams.top_bolower}}</li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
               {% endfor %}
                
                
                
            </div>    
            <div class="slick-btn">
                <div class="slick-prev slick-arrow-buton sab-4">
                    <i class="fa fa-angle-left"></i>
                </div>
                <div class="slick-next slick-arrow-buton sab-3">
                    <i class="fa fa-angle-right"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- IPL end -->

<!-- ALL TEAM start -->
<div class="featured-car content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>ALL <span>TEAMS</span></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="row">
            {% for MyTeams in ipl_teams%} 
            
            <div class="col-lg-4 col-md-6">
                <div class="car-box">
                    <div class="car-thumbnail">
                        <a href="car-details.html" class="car-img">
                            <div class="tag">* * * *</div>
                            <img class="d-block w-100" src="{{MyTeams.team_icon.url}}" alt="car" style="min-height: 262px; max-height: 262px;">
                            <div class="facilities-list clearfix">
                                <ul>
                                    <li>
                                        <span><i class=""></i></span><li>CHAMPION : {{MyTeams.championship_won}}</li>
                                    </li>
                                    <li>
                                        <span><i class="flaticon-calendar-1"></i></span>2020
                                    </li>
                                    
                                </ul>
                            </div>
                        </a>
                        <div class="carbox-overlap-wrapper">
                            <div class="overlap-box">
                                <div class="overlap-btns-area">
                                
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="detail">
                        <h1 class="title">
                            <a href="car-details.html">{{MyTeams.team_name}}</a>
                        </h1>
                        <div class="location">
                            <a href="car-details.html">
                                <i class=""></i>TATA IPL 2022
                            </a>
                        </div>
                    </div>
                    <div class="footer clearfix">
                        <div class="pull-left ratings days">
                            <p class="cartype">Total Player</p>
                        </div>
                        <div class="pull-right">
                            <p class="price">{{MyTeams.players_count}}</p>
                        </div>
                    </div>
                </div>
            </div>
            
            {% endfor%}
            
            
            
        </div>
    </div>
</div>
<!-- ALL TEAM end -->


<!-- Our team start -->
<div class="our-team content-area bg-grea-3">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Executive <span>Team</span></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
        </div>
        <!-- Slick slider area start -->
        <div class="slick-slider-area clearfix">
            <div class="row slick-carousel" data-slick='{"slidesToShow": 4, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
                
                {% for team in teams%}
                <div class="slick-slide-item">
                    <div class="team-1">
                        <div class="photo">
                            <a href="#">
                                <img src="{{ team.photo.url }}" alt="team-1" class="img-fluid" style="min-height: 200px; max-height: 200px;">
                            </a>
                            <div class="social-list clearfix">
                                <a href="{{ team.facebook_link}}" class="facebook-bg"><i class="fa fa-facebook"></i></a>
                                <a href="{{ team.twiter_link}}" class="twitter-bg"><i class="fa fa-twitter"></i></a>
                                <a href="{{ team.google_plus_linkk}}" class="google-bg"><i class="fa fa-google"></i></a>
                            </div>
                        </div>
                        <div class="details">
                            <h4><a href="team-detail.html">{{ team.first_name}} {{team.last_name}}</a></h4>
                            <h5>{{ team.designation}}</h5>
                        </div>
                    </div>
                </div>
                
                {% endfor %}
                
                
            </div>
        </div>
    </div>
</div>
<!-- Our team end -->

<!-- Intro section start -->
<div class="intro-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-sm-12">
                <div class="intro-text">
                    <h3>Do You Have Questions ?</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <a href="{% url 'contact'%}" class="btn btn-md">Get in Touch</a>
            </div>
        </div>
    </div>
</div>
<!-- Intro section end -->



<!-- Full Page Search -->


<!-- Car Overview Modal -->
{% comment %}  {% endcomment %}
</div>
{% endblock%}
